<div class="container mainContainer">
  <div class="d-flex flex-column flex-md-row justify-content-md-around text-center">
    <a class="nav-link link" href="?category=armas">Clásicas</a>
    <a class="nav-link link" href="?category=armaduras">Aromáticas</a>
    <a class="nav-link link" href="?category=accesorios">Lupuladas</a>
  </div>
</div>